// fonts
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Roboto&display=swap');

$arvo: 'Arvo', sans-serif;
$roboto: 'Roboto', sans-serif;

// set custom colors
$primary-color: #44475a;
$secondary-color: #6272a4;
$dark: #282a36;
$light: #fff;

$green: rgb(230, 240, 234);
$dark-green: rgb(19, 115, 51);

$red: rgb(252, 232, 230);
$dark-red: rgb(165, 14, 14);

// override bootstrap theme colors
$theme-colors: (
  'primary': $primary-color,
  'light': $light,
  'dark': $dark,
);

// Media Query Mixins
@mixin mediaSM {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMD {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLG {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXL {
  @media screen and (min-width: 1171px) {
    @content;
  }
}
