// widescreens
@include mediaXL {
  .company-name {
    margin-left: 2rem;
  }
}

// desktops & laptops
@include mediaLG {
  .company-name {
    margin-left: 2rem;
  }
}

// tablets and small laptops
@include mediaMD {
  .company-badge-name-wrap {
    flex-direction: column;
  }

  .market-price-text-wrap,
  .market-percent-wrap {
    width: 90px;
  }

  .reconmended-price-text-wrap,
  .market-percent-wrap {
    width: 70px;
  }

  .market-price-text,
  .price-badge {
    font-size: 0.9rem;
  }

  .ticker-home-wrap {
    flex-direction: column;
  }

  .price-text-wrap,
  .percent-wrap {
    width: 80px;
  }
}

// smartphones
@include mediaSM {
  .price-display-none {
    display: none;
  }
}
