@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.about-container {
  background-color: white;
  border-radius: 2.5px;
  border: 1px solid white;
  height: 250px;
}

.about-heading {
  font-size: 1.375rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.75rem;
}
