@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.custom-footer {
  letter-spacing: 0.00625em;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-top: 1px solid #dadce0;
  margin-top: 16px;
}
