@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

html,
.wrap {
  background-color: $primary-color;
}

body {
  font-family: 'Roboto', sans-serif !important;
}

.wrap {
  height: 100%;
}

.icon {
  color: $light;
  &:hover {
    cursor: pointer;
    color: $dark;
  }
}

.icon-favorite {
  color: rgb(255, 255, 123);
  &:hover {
    cursor: pointer;
    color: $secondary-color;
  }
}

.icon-navbar {
  color: $light;
  font-size: 20px;

  &:hover {
    cursor: pointer;
    color: $secondary-color;
  }
}

.icon-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.done {
  text-decoration: line-through;
}

.card-text {
  font-size: 16px;
}

.card-header,
.card-title {
  font-size: 14px;
  font-weight: bold;
}

.recipe-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recipe-preview,
.recipe-detailed {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.75);

  &.recipe-preview:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 1);
    transition: 0.2s;
  }
}

.text-dark {
  color: $dark;
}

.text-light {
  color: $light;
}

.bg-dark {
  background-color: $dark;
}

.bg-light {
  background-color: $light;
}

.scroll-button {
  position: fixed;
  width: 100%;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.75;
  color: $dark;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  border-radius: 50%;

  &:hover {
    color: $secondary-color;
    border: 1px solid $dark;
    background-color: $dark;
  }
}

.red {
  border: 1px solid red;
}

.blue {
  border: 1px solid blue;
}

.brand {
  font-family: 'Arvo', serif;
}
