@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.news-container {
  background-color: white;
  border-radius: 2.5px;
  border: 1px solid white;
}

.ticker-news {
  border-top: 1px solid gray;
}

.news-image {
  border-radius: 8px;
  height: 90px;
  width: 90px;
  float: right;
}
