@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.ticker-item {
  // border: 1px solid green;
  border-radius: 2.5px;
  background-color: #fff;
  padding: 10px 15px;
  margin: 1px;
}

.ticker-item:hover {
  background-color: $secondary-color;
}

.test {
  border: 1px dotted red;
}

h3 {
  font-size: 14px;
}
