@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.ticker-icon {
  height: 100%;
}

.font-green {
  color: rgb(92, 184, 92);
}

.font-green-dark {
  color: rgb(19, 115, 51);
}

.font-red {
  color: rgb(217, 83, 79);
}

.font-red-dark {
  color: rgb(165, 14, 14);
}

.ticker-item {
  background-color: #fff;
  border-radius: 2.5px;
  padding: 10px 0px;
  margin: 1px;
}

.ticker-item:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

p {
  font-size: 16px;
}

.ticker-container {
  border: 1px solid red;
  background-color: white;
  border-radius: 2.5px;
}

.ticker-header {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 2rem;
}

.ticker-price {
  font-size: 2.75rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 3.2rem;
}

.ticker-badge-green {
  border: 1px solid rgb(230, 244, 234);
  background-color: rgb(230, 244, 234);
}

.ticker-badge-red {
  border: 1px solid rgb(252, 232, 230);
  background-color: rgb(252, 232, 230);
}

.ticker-price-percent {
  letter-spacing: 0.00625em;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1.5;
  line-height: 1.5rem;
  padding: 4px;
  border-radius: 2.5px;
}

.ticker-price-change {
  letter-spacing: 0.00625em;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 1.5;
  margin-left: 8px;
  line-height: 1.5rem;
  word-spacing: 1px;
}

.ticker-graph-button {
  border-radius: 5px;
  padding: 2px 12px;
  margin-right: 5px;
  cursor: pointer;
}

.active {
  color: rgb(71, 131, 213);
  background-color: rgb(232, 240, 254);
}

.active:hover {
  background-color: darken(rgb(232, 240, 254), 10%);
}

.nonactive:hover {
  background-color: lightgrey;
}
