@import '_config';
@import '../../node_modules/bootstrap/scss/bootstrap';

.ticker-icon {
  height: 100%;
}

.ticker-icon-green {
  color: rgb(92, 184, 92);
}

.ticker-icon-red {
  color: rgb(217, 83, 79);
}

.ticker-item {
  background-color: #fff;
  border-radius: 2.5px;
  padding: 10px 15px;
  margin: 1px;
}

.ticker-item:hover {
  background-color: rgb(218, 218, 218);
  cursor: pointer;
}

p {
  font-size: 16px;
}

p:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
